@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-bg-img {
  background: url(/img/Sections_background/section-1\(header\).jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navbar {
  background: #5e5d5899 fixed;
  height: 120px;
}

.nav-menu ul {
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  gap: 27px;
  justify-content: space-between;
}

.nav-menu a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  height: 2px;
  background-color: #18cfab;
}

.nav-menu a:hover {
  position: relative;
  color: #18cfab;
}

.navbar-logo {
  width: 230px;
  height: 120px;
}

.nav-link {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;

}

.nav-link-icon {
  height: 20px;
}

.main-wrapper {
  width: 1920px;
}

.main-block {
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 264px;
}

.main-title {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.6);
}

.main-title:first-child {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 700;
}

.span-title {
  color: #18CFAB;
}

.main-title1 {
  margin: 22px 0;
  font-size: 78px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}


.main-button {
  margin-top: 125px;
  display: flex;
  justify-content: center;
}

.btn {
  width: 169px;
  height: 63px;
  left: 0px;
  margin-top: 5px;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  border: none;
  margin-right: 26px;
  position: relative;
  z-index: 0;
  margin-bottom: 240px;
}

.explore-btn {
  min-width: 169px;
  height: 63px;
  top: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  background-color: #18CFAB;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  border: none;
  position: relative;
  z-index: 1;
}

.purchase-btn {
  min-width: 169px;
  height: 63px;
  top: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  background-color: #00cbf6;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  border: none;
  position: relative;
  z-index: 1;
}

.info {
  margin-top: 10px;
}

.info-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 482px;
  height: 377px;
  background-color: #1c2a33;
  margin-top: 8px;
}

.info-block:nth-child(2n) {
  background-color: #18CFAB;
}

.info-block>span {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #18cfab;
  margin-top: 47px;
}

.info-block:nth-child(2n)>span {
  color: #ffffff;
  margin-top: 58px;
}

.service-section {
  margin-bottom: 90px;
}

.title h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  display: flex;
  justify-content: center;
  padding-top: 83px;
  margin-bottom: 100px;
  position: relative;
}

.title>h3::before {
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -25px;
  left: 46%;
}

.title>h3::after {
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -28px;
  left: 47%;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

/*.tabs-title {
  padding: 25px;
  background: #F8FCFE;
  border: 1px solid #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: #717171;


  width: 193px;
  height: 72px;
  text-align: center;
  padding: 15px;
  background: #F8FCFE;
  border: 1px solid #EDEFEF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 39px;
  align-items: center;
  color: #717171;
  position: relative;

}

.tabs-title:hover {
  border: 1.5px solid #18CFAB;
}

.tabs-title.active {
  background: #18CFAB;
  color: #fff;

}

.tabs-title.active::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 13px 0 13px;
  border-color: #18cfaa transparent transparent transparent;
}*/

.tabs-text>img {
  width: 192px;
  height: 139px;
  display: block;
}

.tabs>li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-tabs li:hover {
  border: #18cfab 1.5px solid;
}

.service-tabs .tabs-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 39px;
  background-color: #f8fcfe;
  padding: 15px 0;
  border: 1.5px solid #edefef;
  position: relative;
  transition: border 0.1s ease;
  flex-basis: 100%;
}

.service-tabs .active {
  background-color: #18cfab;
  border: 1.5px solid #18cfab;
  color: #fff;
}

.service-tabs .active::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #18cfab;
  transform: rotate(45deg);
  position: absolute;
  top: 60px;
  left: 45%;
}

.tabs-text p {
  width: 952px;
  font-weight: 300;
  font-size: 13.64px;
  line-height: 24.37px;
  margin-left: 15px;
}

.tabs-text.active {
  gap: 15px;
  display: flex;
  flex-direction: row;
}

.tabs-text {
  display: none;
  color: #777777;
}

.install-bg {
  background-image: url(/img/purchase.png);
  height: 476px;
  z-index: -1;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.install {
  height: 476px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.install-text {
  padding-top: 126px;
  padding-bottom: 67px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.install-text>h2 {
  color: #18cfab;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.install-text>p {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
}

.install-btn {
  width: 169px;
  height: 63px;
  left: 0px;
  margin-top: 5px;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  border: none;
  margin-right: 26px;
  position: relative;
  z-index: 0;
}

.install-button {
  min-width: 169px;
  height: 63px;
  top: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  background-color: #18CFAB;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  border: none;
  position: relative;
  z-index: 1;
}

.work-container {
  background-color: #e9edef;
}

.item-title {
  padding-top: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  color: #18cfab;
}

.item-subtitle {
  color: #8a8a8a;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
}

.work-tabs>.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.work-tabs .tabs-title {
  height: 58px;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: rgba(113, 113, 113, 1);
  padding: 14px 15px;
  border: 1px solid #dadada;
}

.work-tabs .tabs-title:first-child {
  padding: 27px;
}

.work-tabs .active-work {
  color: #18cfab;
  border: 2px solid #18cfab;
}

.work-block {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 285px);
  align-items: center;
}

.card {
  display: none;
}

.card.work-img {
  position: relative;
  width: 290px;
  height: 211px;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease-out 0s;
}

/*.card.work-img .work-img-create {
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
}*/

.work-img-create.item-title {
  text-transform: uppercase;
}

.work-img-create.item-subtitle {
  color: #8a8a8a;
  font-weight: 300;
  font-size: 12px;
}

.work-img:hover .work-img-create {
  opacity: 1;
}

.item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.work-img-create {
  position: absolute;
  padding: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #18cfab;
  background: #e9edef;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #18cfab;
  font-size: 14px;
  line-height: 25px;
  flex-direction: column;
}


/*.work-img .work-img-create {
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
}

.work-img::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  background: rgb(233, 237, 239);
  transition: all 0.5s ease 0s;
  border-top: 2px solid rgb(24, 207, 171);
}*/

.work-buttons {
  padding: 70px;
  display: flex;
  justify-content: center;
}

.work-btn {
  line-height: 42px;
  box-shadow: none;
  min-width: 169px;
  height: 63px;
  top: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  background-color: #18CFAB;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  border: none;
  position: relative;
}

.work-btn img {
  margin-right: 15px;
}

.news-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 263px);
  gap: 35px;
}

.news-item {
  position: relative;
}

.block-date {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #ffffff;
  position: absolute;
  width: 70px;
  height: 68px;
  right: 0px;
  top: 0px;
  padding-top: 5px;
  text-align: center;
  background: #203e38;
}

.news-item:hover .news-item-title {
  color: #18cfab;
}

.news-item:hover .block-date {
  background: #18cfab;
}

.news-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
  text-align: left;
  padding-left: 10px;
}

.news-item-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  padding-left: 10px;
  text-align: left;
  color: #777777;
}

.bg-feedback {
  position: relative;
  margin-top: 130px;
  background: url(/img/feedback/section-3.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: -1;
  height: 100%;
}

.feedback-title {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
}

.feedback-title::after {
  content: "";
  position: absolute;
  width: 75.54px;
  height: 2px;
  left: 46%;
  top: 160px;

  background: #18cfab;
}

.feedback-title::before {
  content: "";
  position: absolute;
  width: 75.54px;
  height: 2px;
  left: 47%;
  top: 164px;

  background: #18cfab;
}

.shape {
  margin-top: 66px;
  margin-bottom: 30px;
}

.feedback-subtitle {
  color: #bbbbbb;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
}

/*.feedback-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18cfab;
}

.feedback-job {
  font-size: 13px;
  line-height: 27px;
  font-weight: 400;
  color: #bbbbbb;
  opacity: 0.6;
  margin-bottom: 35px;
}

.feedback-img {
  margin: 0 auto;
  width: 143px;
  height: 142px;
  margin-bottom: 60px;
  border: 7px solid rgba(31, 218, 181, 0.4);
  border-radius: 50%;
}*/
.feedback-quotes {
  display: block;
  margin: 0 auto;
  margin-top: 99px;
  width: 47px;
  height: 33px;
}

.feedback-slider {
  display: none;
}

.active-slider {
  display: block;
}

.feedback-text {
  text-align: center;
  font-weight: 300;
  line-height: 154%;
  font-size: 16px;
  color: #bbbbbb;
  margin-top: 36px;
}

.author-info {
  height: 45px;
  margin-top: 37px;
  margin-bottom: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedback-author {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #18cfab;
  text-align: center;
}

.feedback-author-occupation {
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: #bbbbbb;
  text-align: center;
}

.author-photo {
  width: 143px;
  height: 142px;
  border: 10px solid #18cfaa3b;
  border-radius: 50%;

  display: block;
  margin: 0 auto;
  margin-bottom: 51px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.carousel-img img {
  width: 58px;
  height: 58px;
  margin-left: 27px;
  border-radius: 50%;
  border: 5px solid #18cfaa3b;
}

.active-img {
  margin-top: -20px;
}

.arrow {
  width: 31px;
  height: 31px;
  border: #bbbbbb 1px solid;
  margin-left: 29px;
}

.left-arrow {
  background: url(/img/feedback/Forma\ 1.png) no-repeat center;
  margin-right: 2px;
}

.right-arrow {
  background: url(/img/feedback/Forma\ 1.png) no-repeat center;
  transform: rotate(180deg);
}

.left-arrow:hover {
  background-color: #18cfab;
  background-image: url(/img/feedback/right\ arrow.png);
  background-position: center;
  transform: rotate(180deg);
}

.right-arrow:hover {
  background-color: #18cfab;
  background-image: url(/img/feedback/right\ arrow.png);
  background-position: center;
  transform: none;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}

.footer {
  background: #22353f;
  height: 121px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  color: #aeaeae;
  padding-top: 48px;
}

.footer-content {
  display: flex;
  justify-content: center;
}

footer span {
  color: #18cfab;
}

.emtpy {
  max-width: 0.1px;
}